.button {
  display: block;
  background-color: #81b3d2;
  color: $second-font-color;
  font-family: $main-font, "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  // text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 17px 47px 17px 47px;
  width: 280px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
