.contact-info {
  font-family: $main-font, "Arial", sans-serif;
  text-transform: uppercase;
  color: $main-font-color;
  border: none;
  padding: 0;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.contact-info__wrapper {
  @include reset-list;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    top: -63px;
    left: -21px;
  }
}

.contact-info__title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 19px;
}

.contact-info__label {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  padding-left: 23px;
  margin-bottom: 8px;
}

.contact-info__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  position: relative;

  &--phone::after {
    position: absolute;
    content: "";
    width: 57px;
    height: 57px;
    top: 34px;
    right: 0;
    background-color: #e6e6e6;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--mail::after {
    position: absolute;
    content: "";
    width: 57px;
    height: 57px;
    top: 34px;
    right: 0;
    background-color: #e6e6e6;
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.contact-info__input {
  background-color: #f2f2f2;
  border: none;
  padding-top: 16px;
  padding-left: 22px;
  padding-bottom: 16px;
  font-family: $main-font, "Arial", sans-serif;
  color: $main-font-color;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;

  &::placeholder {
    color: $main-font-color;
    opacity: 1;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: solid 4px #e5e5e5;
  }

  &--invalid {
    background-color: #f6dada;
  }
}

@media (min-width: $tablet-width) {
  .contact-info {
    padding: 0;
  }

  .contact-info__wrapper {
    flex-direction: column;
    justify-content: space-between;

    &::before {
      width: 125px;
      height: 1px;
      top: -38px;
      left: 0;
    }

    &::after {
      position: absolute;
      content: "";
      width: 125px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      top: -38px;
      right: 0;
    }
  }

  .contact-info__title {
    font-size: 21px;
    padding-top: 46px;
    padding-bottom: 22px;
  }

  .contact-info__field {
    margin-bottom: 23px;
  }
}

@media (min-width: $desktop-width) {
  .contact-info__label {
    padding: 0;
    margin: 0;
    margin-right: 16px;
  }

  .contact-info__label--phone {
    display: none;
  }

  .contact-info__wrapper {
    flex-direction: row;

    &::before {
      top: -88px;
      width: 280px;
    }

    &::after {
      top: -88px;
      width: 280px;
    }
  }

  .contact-info__title {
    padding-top: 44px;
    padding-bottom: 72px;
  }

  .contact-info__field {
    flex-direction: row;
    align-items: center;
    margin: 0;

    &--phone::after {
      top: 0;
    }

    &--mail::after {
      top: 0;
    }
  }

  .contact-info__input {
    width: 294px;
  }
}
