.copyright {
  font-family: 'PTSans', Arial, sans-serif;
  text-transform: uppercase;
}

.copyright-text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
}
