.feedback-text {
  font-family: $main-font, "Arial", sans-serif;
  text-transform: uppercase;
  color: $main-font-color;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
  }
}

.feedback-text__label {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 18px;
}

.feedback-text__textarea {
  font-family: $main-font, "Arial", sans-serif;
  color: $main-font-color;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  background-color: #f2f2f2;
  border: none;
  padding-top: 17px;
  padding-left: 20px;
  padding-bottom: 22px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 160px;

  &::placeholder {
    color: $main-font-color;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: solid 4px #e5e5e5;
  }
}
