.feedback-text {
  font-family: 'PTSans', Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
  border: none;
  display: flex;
  flex-direction: column;
}

.feedback-text__label {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 21px;
}

.feedback-text__textarea{
  background-color: #f2f2f2;
  border: none;
  padding-top: 22px;
  padding-left: 22px;
  padding-bottom: 22px;
  font-family: 'PTSans', Arial, sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  &::placeholder {
    color: #000000;
  }
  margin-bottom: 51px;
}
