.feedback-form {
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.feedback-form__introduce-yourself,
.feedback-form__contact-info,
.feedback-form__visited-places,
.feedback-form__general-impression {
  margin-bottom: 50px;
}
