.feedback-form {
  font-family: $main-font, "Arial", sans-serif;
  text-transform: uppercase;
  color: $main-font-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.feedback-form__button {
  margin-top: 50px;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.feedback-form__star {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
  }

  .feedback-form__button {
    margin: 0;
    margin-top: 57px;
    width: 324px;
  }

  .feedback-form__star {
    display: block;
    font-size: 14px;
    margin-top: 57px;
  }

  .feedback-form__introduce-yourself {
    width: 50%;
    box-sizing: border-box;
  }

  .feedback-form__general-impression {
    width: 50%;
    order: -1;
    box-sizing: border-box;
  }

  .feedback-form__contact-info {
    width: 100%;
  }

  .feedback-form__visited-places {
    width: 100%;
  }

  .feedback-form__feedback-text {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 66px;
  }

  .feedback-form__button {
    margin: 0;
    margin-top: 58px;
    width: 480px;
  }

  .feedback-form__star {
    display: block;
    font-size: 14px;
    margin-top: 58px;
  }
}
