.find-hotel {
  background-color: $bg-main-color;
  font-family: $main-font, "Arial", sans-serif;
  text-transform: uppercase;
  padding-top: 33px;
  padding-bottom: 49px;
}

.find-hotel__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: $main-font-color;
  margin: 0;
}

.find-hotel__text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: $text-font-color;
  margin: 0;
  margin-bottom: 40px;
}

.find-hotel__link {
  margin: 0 auto;
}
