.introduce-yourself {
  font-family: $main-font, "Arial", sans-serif;
  text-transform: uppercase;
  color: $main-font-color;
  border: none;
}

.introduce-yourself__wrapper {
  @include reset-list;
}

.introduce-yourself__field {
  margin-top: 20px;
}

.introduce-yourself__title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
}

.introduce-yourself__label {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: $text-font-color;
}

.introduce-yourself__input {
  background-color: #f2f2f2;
  border: none;
  padding-top: 22px;
  padding-left: 22px;
  padding-bottom: 22px;
  font-family: $main-font, "Arial", sans-serif;
  color: $main-font-color;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;

  &::placeholder {
    color: $main-font-color;
  }
}
