.leave-feedback {
  font-family: $main-font, "Arial", sans-serif;
  text-transform: uppercase;
  color: $main-font-color;
}

.leave-feedback__header {
  padding: 37px 21px 19px 23px;
}

.leave-feedback__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.leave-feedback__text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: $text-font-color;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .leave-feedback__title {
    font-size: 30px;
    margin-bottom: 24px;
  }

  .leave-feedback__header {
    padding: 65px 165px 40px 165px;
  }
}

@media (min-width: $desktop-width) {
  .leave-feedback__header {
    padding: 102px 380px 25px 380px;
  }
}
