.leave-feedback {
    font-family: 'PTSans', Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
}

.leave-feedback__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
}
.leave-feedback__text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}
