// some text header
.main-nav {
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }
  .main-nav__wrapper {
    width: 640px;
    margin: 0 auto;
  }

  .main-nav__list {
    justify-content: space-between;
    flex-direction: row;
  }

  .main-nav__toggle {
    display: none;
  }

  .site-list--logo {
    order: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }
}
