.page-footer {
  padding-top: 34px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: $main-font-color;
  display: block;
  text-transform: uppercase;
}

.page-footer__copyright {
  padding-top: 39px;
}

.page-footer__social {
  margin-top: 36px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .page-footer__social {
    margin-top: 0;
  }

  .page-footer__copyright {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    justify-content: space-between;
    padding-right: 120px;
    padding-left: 120px;
  }
}
