.photo-video {
  font-family: $main-font, "Arial", sans-serif;
  text-transform: uppercase;
  color: $main-font-color;
}

.photo-video__header {
  padding: 37px 24px 28px 24px;
}

.photo-video__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
  margin: 0;
}

.photo-video__text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: $text-font-color;
  margin-top: 29px;
  margin-bottom: 0;
}

.photo-video__video-block {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .photo-video__title {
    font-size: 30px;
  }

  .photo-video__header {
    padding: 65px 170px 69px 170px;
  }

  .photo-video__text {
    margin-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .photo-video__header {
    padding-top: 102px;
    padding-left: 380px;
    padding-right: 380px;
    padding-bottom: 71px;
  }

  .photo-video__video-block {
    margin-bottom: 89px;
  }
}
