.popup-block {
  background-color: $bg-main-color;
  font-family: $main-font, "Arial", sans-serif;
  text-transform: uppercase;

  @include reset-list;
  color: $main-font-color;
}

.popup-block__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.popup-block__item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: $main-font-color;
}

.popup-block__item-text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $text-font-color;
}

@media (min-width: $tablet-width) {
  .popup-block__list {
    flex-direction: row;
    justify-content: space-around;
  }

  .popup-block__item {
    width: 165px;
  }
}
