$bg-color: #ffffff;

.sedona-advantages {
  background-color: $bg-color;
  font-family: 'PTSans', Arial, sans-serif;
  text-transform: uppercase;
  padding-top: 43px;
}

.sedona-advantages__header {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 0;
}

.sedona-advantages__text {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 29px;
}
