.sedona-advantages {
  background-color: $bg-main-color;
  font-family: $main-font, "Arial", sans-serif;
  text-transform: uppercase;
}

.sedona-advantages__header {
  padding: 41px 33px 6px 32px;
}

.sedona-advantages__title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: $main-font-color;
  margin: 0;
  margin-bottom: 27px;
}

.sedona-advantages__text {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: $text-font-color;
  margin: 0;
  line-height: 1.9;
}

@media (min-width: $tablet-width) {
  .sedona-advantages__title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 28px;
  }

  .sedona-advantages__header {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
