.video-block {
  font-family: $main-font, "Arial", sans-serif;
  text-transform: uppercase;
  color: $main-font-color;
}

.video-block__header {
  padding: 36px 41px 36px 41px;
}

.video-block__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
  margin: 0;
}

.video-block__text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: $text-font-color;
  margin: 0;
  margin-top: 27px;
}

.video-block__controls-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: -48px;
  // justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f2f2f2;
}

.video-block__range-controls {
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.video-block__scale {
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: calc(50% - 1px);
  left: 22px;
  z-index: 10;
}

.video-block__range-toggle {
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  position: absolute;
  top: calc(50% - 4px);
  left: 58px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.video-block__button-replay {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 23px;
  padding-top: 23px;
  padding-bottom: 20px;
  margin-right: auto;

  &:hover svg {
    fill: #333333;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.video-block__button-subs {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 19px;
  padding-top: 23px;
  padding-bottom: 20px;

  &:hover svg {
    fill: #333333;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.video-block__button-fullscreen {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 23px;
  padding-top: 23px;
  padding-bottom: 20px;

  &:hover svg {
    fill: #333333;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.video-block__content {
  width: 100%;
  min-height: 201px;
  background-color: transparent;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 648px auto;
  }
}

@media (min-width: $tablet-width) {
  .video-block__wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }

  .video-block__title {
    font-size: 30px;
  }

  .video-block__header {
    padding: 56px 176px 74px 176px;
  }

  .video-block__text {
    margin-top: 24px;
  }

  .video-block__range-controls {
    width: 389px;
    min-height: 93px;
    margin-left: 8px;
    margin-right: auto;
    background: none;
  }

  .video-block__scale {
    width: 389px;
    left: 0;
  }

  .video-block__range-toggle {
    left: 112px;
  }

  .video-block__controls-block {
    background-color: rgba(0, 0, 0, 0.6);
    // justify-content: space-between;
    position: relative;
    margin-top: -96px;
    margin-right: 0;
    margin-left: 0;
  }

  .video-block__button-replay {
    order: -1;
    margin-right: 0;
    padding-left: 35px;
    padding-right: 35px;

    svg {
      fill: #ffffff;
    }

    &:hover svg {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  .video-block__button-subs {
    padding: 0;

    svg {
      fill: #ffffff;
    }

    &:hover svg {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  .video-block__button-fullscreen {
    padding: 0;
    padding-right: 41px;
    padding-left: 30px;

    svg {
      fill: #ffffff;
    }

    &:hover svg {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  .video-block__content {
    min-height: 500px;
    background-color: transparent;
    background-image: url("../img/video-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 648px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .video-block__wrapper {
    padding-left: 200px;
    padding-right: 200px;
  }

  .video-block__header {
    padding: 62px 392px 71px 392px;
  }

  .video-block__scale {
    width: 540px;
  }

  .video-block__content {
    width: 100%;
    min-height: 500px;
    background-color: transparent;
    background-image: url("../img/video-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 800px auto;
    }
  }
}
