// Файл переменных Sass
$main-font: "PTSans";
$bg-main-color: #ffffff;
$main-font-color: #000000;
$second-font-color: #ffffff;
$text-font-color: #333333;
$tablet-width: 760px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dppx: 1.5dppx;
